* {
   margin:0;
   padding:0;
}

html, body {
    height:100%;
    font:helvetica, arial, sans-serif;
    font-size:16px;
}

a, a:visited {
    color:darkgray;
    font-weight:bold;
}

body {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-66px;
}

body > #droids {
    display:block;
    padding-bottom:20px;
}

body > a {
    display:block;
    text-align:center;
}